## Moneyball Rosters

Using the 'moneyball_stats' (specifically the 'On Base Percentage' to salary ratio) create
a roster for each year that the proper stats were available). 

#### The Roster

A roster shall consist of the following players:
* Pitcher
* Catcher
* First Baseman
* Second Baseman
* Third Baseman
* Shortstop
* Left Fielder
* Center Fielder
* Right Fielder
* Designated Hitter

*NOTE: pitchers are probably not selected this way. As a matter of fact, pitchers don't even hit in the American League. In the National League, the pitchers actual pitching stats must weigh heavily in the selection process and I did not venture into that for this project. For these reasons I have included a DH along with the 9 defensive postitions.*

#### The Rules
1. One roster for each year.
2. One player per postition.
3. Players that play multiple positions in a season, connot occupy multiple spots on a roster.
4. A player must have at least 20 appearances at a position to be considered for a roster spot.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('MB-Data/moneyball_stats.csv')
df.head()

,yearID,playerID,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,...,nameGiven,teamID,AB,H,BB,HBP,SF,OBP,salary,OBP_to_salary
0,1985,aguaylu01,0,0,0,17,7,60,0,0,...,Luis,PHI,165,46,22,6.0,3.0,0.377551,237000,0.159304
1,1985,almonbi01,0,0,7,0,7,43,26,6,...,William Francis,PIT,244,66,22,1.0,3.0,0.329630,255000,0.129267
2,1985,andujjo01,38,0,0,0,0,0,0,0,...,Joaquin,SLN,94,10,5,0.0,0.0,0.151515,1030000,0.014710
3,1985,armasto01,0,0,0,0,0,0,16,69,...,Antonio Rafael,BOS,385,102,18,2.0,5.0,0.297561,915000,0.032520
4,1985,ashbyal01,0,60,0,0,0,0,0,0,...,Alan Dean,HOU,189,53,24,1.0,1.0,0.362791,416667,0.087070

In [3]:
pd.set_option('display.max_columns', 30)

In [4]:
df.shape

(19514, 24)

In [5]:
mb_df = df.copy()

In [6]:
mb_df.columns

Index(['yearID', 'playerID', 'G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss',
       'G_lf', 'G_cf', 'G_rf', 'G_dh', 'nameFirst', 'nameLast', 'nameGiven',
       'teamID', 'AB', 'H', 'BB', 'HBP', 'SF', 'OBP', 'salary',
       'OBP_to_salary'],
      dtype='object')

In [7]:
positions = ['G_p', 'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss','G_lf', 'G_cf',
             'G_rf', 'G_dh']

In [8]:
# Create a list for a specific position and year ordered by obp to salary.
def top_ten_position(position, year):
    df = mb_df.copy()
    yr_df = df.loc[(df.yearID == year) & (df[position] >= 20)]
    top_ten_df = yr_df.sort_values(by='OBP_to_salary', ascending=False)
    # reset the index of the dataframe and keep the original index ifor use later. 
    return top_ten_df.iloc[:10].reset_index()[['index','playerID']]

In [9]:
top_ten_position('G_rf', 2007)

   index   playerID
0  14026  willire03
1  13518   bucktr01
2  13747   kempma01
3  13695  hermije01
4  13690  hawpebr01
5  13974  swishni01
6  13938  schumsk01
7  13939  scottlu01
8  13812  markani01
9  13620  ethiean01

In [13]:
def get_indexes(year):

    id_df = pd.DataFrame(columns=['index', 'playerID'])
    selected = []
    for p in positions:
        ten_best_df = top_ten_position(p, year)
        best_list = ten_best_df['index'].to_list()
        available = True
        while available:
            idx = best_list.pop(0)
            if idx not in selected:
                selected.append(idx)
                available = False
            else:
                idx = best_list.pop(0)
        #print(p, best_player)        
    return selected

In [14]:
def mb_roster(year):
    '''Return a roster based on OBP/salary ratio for a given year'''
    df = mb_df.copy()
    index_list = get_indexes(year)
    roster_df = df.loc[index_list]
    #print('\nMoneyball Roster for ' + str(year) + ':\n', roster_df) 
    return roster_df

In [19]:

mb_roster(2016)

,yearID,playerID,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_dh,nameFirst,nameLast,nameGiven,teamID,AB,H,BB,HBP,SF,OBP,salary,OBP_to_salary
19461,2016,syndeno01,31,0,0,0,0,0,0,0,0,0.0,Noah,Syndergaard,Noah Seth,NYN,58,11,7,0.0,0.0,0.276923,535375,0.051725
19125,2016,fryerer01,0,32,0,0,0,0,0,0,0,0.0,Eric,Fryer,Eric Joseph,SLN,38,14,3,0.0,0.0,0.414634,575000,0.072110
18993,2016,bourju01,0,0,82,0,0,0,0,0,0,1.0,Justin,Bour,Justin James,MIA,280,74,38,0.0,3.0,0.348910,537500,0.064913
19133,2016,garcigr01,0,0,0,26,31,30,0,0,0,0.0,Greg,Garcia,Greg Joseph,SLN,214,59,38,4.0,1.0,0.392996,507500,0.077438
19367,2016,ramirjo01,0,0,0,9,117,5,48,0,0,0.0,Jose,Ramirez,Jose Enrique,CLE,565,176,44,4.0,4.0,0.363047,518200,0.070059
19425,2016,seageco01,0,0,0,0,0,155,0,0,0,0.0,Corey,Seager,Corey Drew,LAN,627,193,54,4.0,2.0,0.365357,510000,0.071639
19086,2016,drurybr01,0,0,1,16,29,0,62,0,32,0.0,Brandon,Drury,Brandon S.,ARI,461,130,31,3.0,4.0,0.328657,508900,0.064582
19298,2016,naquity01,0,0,0,0,0,0,0,105,4,1.0,Tyler,Naquin,Tyler Wesley,CLE,321,95,36,4.0,2.0,0.371901,507500,0.073281
19440,2016,springe01,0,0,0,0,0,0,0,1,147,12.0,George,Springer,George Chelston,HOU,644,168,88,11.0,1.0,0.358871,522400,0.068697
19071,2016,daviskh01,0,0,0,0,0,0,93,0,0,53.0,Khris,Davis,Khristopher Adrian,OAK,555,137,42,8.0,5.0,0.306557,524500,0.058448